<div class="structured_datum-item-controls">
    <ul class="list-inline">
        <li class="list-inline-item">
            <input type="checkbox">
        </li>
        <li class="list-inline-item">
            {% if form.options.structured_datum_subtitle %}
                {{ trans(form.options.structured_datum_title) }}:
                <span class="subtitle">{{ form.options.structured_datum_subtitle }}</span>
            {% else %}
                {{ trans(form.options.structured_datum_title) }}
            {% endif %}
        </li>
    </ul>

    <ul class="dropdown pull-right list-inline">

        <li class="list-inline-item">
            <a href="#" data-toggle="dropdown">
                {{ icon('cog') }}
            </a>
            <div class="dropdown-menu dropdown-menu-right">
                {% if form.options.structured_datum_id %}
                    <a href="#" class="dropdown-item" onclick="alert('#structured_datum--{{ form.options.structured_datum_id }}');return false;">
                        {{ icon('fa fa-hashtag') }} <span>{{ trans('behavior_lab.field_type.struct_data::input.copy_id') }}</span>
                    </a>
                {% endif %}
                <a href="#" class="dropdown-item" data-toggle="collapse"
                   data-expand="{{ trans('behavior_lab.field_type.struct_data::input.expand') }}"
                   data-collapse="{{ trans('behavior_lab.field_type.struct_data::input.collapse') }}">
                    {{ icon('fa fa-compress') }} <span>{{ trans('behavior_lab.field_type.struct_data::input.collapse') }}</span>
                </a>
                {% if not (field_type.readonly) %}
                    <a href="#" class="dropdown-item" data-add="above">
                        <i class="fa fa-plus"></i>
                        <span>{{ trans('behavior_lab.field_type.struct_data::input.add_above') }}</span>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item text-danger" data-delete="row">
                        <i class="fa fa-trash"></i> <span>{{ trans('behavior_lab.field_type.struct_data::input.delete') }}</span>
                    </a>
                {% endif %}
            </div>
        </li>

        <li class="list-inline-item">
            <a href="#" class="structured_datum-handle" onclick="return false;">
                <i class="fa fa-arrows"></i>
            </a>
        </li>

    </ul>
</div>
